<table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
	<tr>
		<td valign="middle" align="left">
            <img src="{$theme_url}/assets/img/logo-omb.png" alt="" style="width: 200px"/>
            <br/>
		</td>
	</tr>
	<tr>
		<td valign="top" align="left">
			

			
			<table cellspacing="0" cellpadding="5" border="0" width="100%" style="font-family: Arial">
				<tr>
					<td valign="top">Nome</td>
					<td valign="top">{ $nome }</td>
				</tr>
				<tr>
					<td valign="top">E-mail</td>
					<td valign="top">{ $email }</td>
				</tr>
				<tr>
					<td valign="top">Mensagem</td>
					<td valign="top">{ $mensagem }</td>
				</tr>
			</table>

		</td>
	</tr>
</table>