<table cellspacing="0" cellpadding="0" border="0" width="600">
	<tr>
		<td valign="middle" align="center">
			<h1>Header</h1>
		</td>
	</tr>
	<tr>
		<td valign="top" align="left">
			
			<h3>Assunto do e-mail</h3>
			
			<table cellspacing="0" cellpadding="5" border="0" width="100%">
				<tr>
					<td valign="top">Nome</td>
					<td valign="top">{ $nome }</td>
				</tr>
				<tr>
					<td valign="top">E-mail</td>
					<td valign="top">{ $email }</td>
				</tr>
				<tr>
					<td valign="top">Mensagem</td>
					<td valign="top">{ $mensagem }</td>
				</tr>
			</table>

		</td>
	</tr>
</table>